name: Test
on: push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run Lint
        run: pnpm lint

      - name: Build
        run: pnpm build

      - name: Check working copy
        run: git diff --exit-code

      - name: Run TurboRepo Remote Cache Server
        uses: ./
        with:
          port: 42042
          storage-provider: local
          storage-path: test
